ul.social-network{
    list-style: none;
   
    padding:0;
}

ul.social-network li{
    display: inline;
    margin: 0%;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: gray;
    padding: 10px;
}

.fa fa-facebook-square:hover{
    color: rgb(41, 41, 201);    
}

.fa fa-instagram:hover{
    color: rgb(177, 25, 164);    
}

.fa fa-linkedin-square:hover{
    color: rgb(46, 46, 209);    
}


